*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.container,
.cards,
.container-2,
.comment,
.icons {
  box-sizing: border-box;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

body{
    margin:0px;
    padding:0px;
} 
.navigation{
    display:flex;
    justify-content: space-between;
}
.navigation{
    color: white;
    background-color:rgba(0,0,0,0.4);
    padding: 5px;
}
.domain{
    font-family:"Bebas Neue", Sans-serif;
    font-size: 40px;
}
.navigation nav a{
 text-decoration: none;
 color:white;
}
nav a{
    padding-left: 20px;
    font-family: Roboto,sans-serif;
    font-size: 16px;
}
.container{
  overflow: hidden;
}

header{
    background-image: url('cah.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 843px 0px 341px 0px rgb(0 0 0 / 0.7);
  }
.txt{
    color: white;
    padding-left: 120px;
    font-size: larger;
    font-weight: 500;
    margin-bottom: 40px;
}
.txt h2{
    font-family:"Bebas Neue", Sans-serif;
    font-size: 60px;
}
.up{
    margin-bottom: 0px;
}
.down{
    margin-top: 0px;
    margin-bottom: 0px;
}
.txt p{
    margin-top:7px;
    font-family: Roboto,sans-serif;
    font-size: 20px;
}
.line{   
    margin-left:120px;
    width: 40%;
    height: 0px;
    border: 0.8px solid rgba(255, 255, 255, 0.4);
    margin-top: 90px;
}
.logo{
    margin-top: 30px;
    display: flex;
    gap: 20px;
    padding-left: 120px;
    padding-bottom: 100px;
}
.logo img{
    width: 48px;
    height: auto;
}

.container{
    margin-top: 150px;
    margin-left: 160px;
    margin-right: 60px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    text-align: center;
    }

.container img{
    height: 107.88px;
    width: 107.88px ;
}
.item{
    justify-items: center;
    padding: 10px;
    width: 280px;
}
.item h3{
    font-family:"Bebas Neue", Sans-serif;
    font-size: 22px;
}
.item p{
    font-family: Roboto,sans-serif;
    font-size: 16px;
}
.web,.marketing{
    border-right: 1px solid rgba(0,0,0, 0.3);
}
section{
    margin-top: 80px;
}
.cards{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-items: center;
    padding: 0 150px ;
    }

.cards img{
    width: 270px;
}
.background{
    background-color:#140748;
    height: 400px;
    margin-top:-100px;
    display: flex;
    justify-items: center;
     align-items: center;
    color: white;
}
.background h1{
    font-family:"Bebas Neue", Sans-serif;
    font-size: 40px;
    font-weight: 400;
    padding: 0%;
    margin-bottom: 0%;
}
.background p{
    margin-top: 0%;
    font-family: Roboto,sans-serif;
    font-size: 22px;
}
.text{
    margin-left: 16%;
    width: 50%;
}
.background_logo img{
    width: 120px;
    height: 120px;
    padding-top: 120px;
}
.first{
    display: flex;
    height: 100%;
    width: 100%;
}
.first img{
width:50%;
}
.right{
width: 50%;
display: flex;
flex-direction: column;
justify-items: center;
justify-content: center;
padding: 0 70px;
}
.right h2{
    font-family:"Bebas Neue", Sans-serif;
    font-size: 40px;
    color: #140748
} 
.right ul{
    list-style: none;
    padding-left: 10px ;
}
.icon{
    color: #140748  
}
.details{
    display: flex;
    height: 100%;
    width:100%;
    margin-top: 50px;
}
.scnd-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 168px;
}

.vr-line {
    border-left: 2px dotted #ccc;
    padding-left: 40px;
}
.vr-line::before{
  content: "";
  top: 0;
  bottom: 0;
  left: 6px;
  width: 2px;
  border-left: 2px dotted #ccc;
  z-index: 0;
}
.dot{
  position: absolute;
  left: -31px;
  top: 6px;
  width: 12px;
  height: 12px;
  background-color: #5bc0eb;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 0 2px #5bc0eb;
}

.scnd-left .more-right {
        padding-bottom: 6px;
}

.scnd-left h3,
h4 {
    text-transform: uppercase;
    font-size: 34px;
    color: #140748;
    font-family: "Bebas Neue", Sans-serif;
    font-weight: 400;
    margin-bottom: 16px;
}

.scnd-left h4 {
    font-size: 22px;
}

.more-right .date {
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.more-right h4,
.date {
    margin-bottom: -4px;
}

.more-right .content {
    color: #666666;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6rem;
}
.details img{
    padding-top:50px;
    width:50%;
    height: 80%;
}
.work{
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 80px;
}
.work img{
width:50%;
}
.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 130px 0px;
    background-color:#FAFBFD;
    margin-top: 120px;
}
.services p{
    width: 840px;
    height: 16px;
    margin: 0px 0px 14px;
    color: #282E37;
    font-size: 20px;
    margin-bottom: 50px;
}
.services h2{
    color: #140748;
    font-family:"Bebas Neue", Sans-serif;
    font-size: 40px;
}
.courses{
    display: flex;
    margin-top: 50px;
    text-align: center;
}
.courses img{
    width: 260px;
    padding-right: 30px;
}
.courses h3{
    color: #140748;
    font-size: 22px;
    font-family:"Bebas Neue", Sans-serif;
}

 .container-2
 {  margin-top:-40px;
    display: grid;
    grid-template-columns: auto auto auto auto ;
    padding: 0px 236px;
 }
 .option
 {
    background-color: #FFFFFF;
    margin: 10px 10px 10px 10px;
    padding: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    text-align-last: center;
 }
 .option h4 {  color: #140748;
    font-family: "Bebas Neue", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.2em;
}
.picture{
    margin-top: 100px;
    height:800px;
    background-image: url('groupimage.jpg');
}
.comment{
    margin-top:-140px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 80px;
}
.designer{
    height: auto;
    width: 360px;
    background-color: #fff;
    color:#767373;
    font-size:16px;
    font-family:"Roboto", Sans-serif ;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.designer p{
    margin-top: 40px;
    padding-left: 40px;
}
.designer img{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-left:40px;
}
.author{
    display: flex;
    text-align: center;
    padding: 20px;
}
.name-title {
  margin-top: 10px;
}

.name-title strong {
  font-size:18px; 
}

.name-title .title {
  font-size:14px;
  color: #555;  
  display: block;
}
.icons{
    margin-top: -132px;
    width:100%;
    height:410px;
    background-color: #e9ecf1;
    display: flex;
    padding-left: 120px;
}
.logo1,.logo2,.logo3,.logo4
{   
   height: 135px; ;
   width: 285px;
   padding: 0 30px;
   margin-top: 220px;
}
.icons img{
    height: 135px;
    width:225px;
}


.detail-colection-form
{   display: flex;
    flex-direction: row;
    height:700px

}
.query
{
    width: 50%;
}
.form
{
    background-color:#7961E8;
    width: 50%;
    padding: 150px 0px 150px 0px;
    height: 820px;
    
}
form{
    width: 670px;
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px -100px;
    padding: 60px 60px 60px 60px;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
   
} 

input
{
    width: 100%;
    height: 50px;
    color: #000000;
        margin-bottom: 20px;
            padding: .375rem .75rem;
    size: 1rem;
  
}
input::placeholder
{
    color: #000000;
}
#message
{
width: 100%;
    height: 176px;
    margin-bottom: 20px;
}
.form input[type=button] 
{
        font-family: "Roboto", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
    padding: 15px 60px 15px 60px;
    color: #ffffff;
    background-color: #313636;
    height: 44px;
    width: 172px;
}
.query
{
        padding: 150px 100px 150px 200px;
}
.elementor-divider
{
        margin-top: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #0000001A;
}
.query h2
{
    color: #140748;
    font-family: "Bebas Neue", Sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.1em;
    margin-bottom: 15px;
}
.query h3
{
    color: #140748;
    font-family: "Bebas Neue", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.1em;
     margin-bottom: 15px;
}
.query p
{
    color: #666666;
    font-family: "Roboto", Sans-serif;
    font-size: 22px;
    font-weight: 300;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.6em;
    margin-bottom: 15px;
}
#footer {
    background-color: #140748;
    color: white;
    height: 500px;
    margin-top:120px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1140px;
    margin: auto;
    padding: 42px 0px;
}

.footer-content .grami {
    margin-bottom: -26px;
}

.footer-content .grami h2 {
    color: #FFFFFF;
    font-family: "Bebas Neue", Sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 1.6em;
}

.footer-content .social-media i {
    width: 1.3em;
    font-size: 53px;
}

.footer-content .separator {
    background-color: #dddddd3d;
}

.footer-content .copyright {
    text-align: center;
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 2em;
}
